@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /** primary */
    --dark-blue: #032a59;
    --purple-medium: #473dff;
    --light-blue: #adbeff;
    --lighter-blue: #bfe2fd;
    --bright-red: #ed3548;
    /** neutrals */
    --dark-grey: #9699ab;
    --transparent-purple: #d6d9e6;
    --transparent-blue: #f0f5ff;
    --transparent-light-blue: #fafbff;
    --white: #ffffff;
    /** hover */
    --dark-blue-hover: #174A8B;
    --purple-medium-hover: #938CFE;
    /** others */
    --summary-bg: #F8F9FE;
    --spinner-container-color: #00000080;
    --modal-container-color: #032a5973;
    --dark-blue-transparent: #032a5933;
    --dark-blue-transparent-light: #032a5926;
    /** typography */
    --small-font-size: 14px;
    --font-size: 16px;
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: var(--transparent-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container {
    width: clamp(48rem, 90vw, 75rem);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 0.625rem;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 75rem;
    min-height: 45rem;
    box-shadow: 0 0.75rem 1rem var(--transparent-purple);
    transition: all 0.2s ease-out;
}


/** Progress Section */

.progress-section {
    background: url('images/bg-sidebar-desktop.svg') no-repeat center center / cover;
    height: 43rem;
    width: 30vw;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-inline-start: 2.25rem;
}

.progress-circle {
    display: flex;
    align-items: center;
    width: 11.5rem;
    margin: 2.5rem 0 0;
}

.step-number {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid var(--transparent-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-bold);
    margin-inline-end: 1rem;
}

.step-number.active {
    background-color: var(--lighter-blue);
    color: var(--dark-blue);
}

.user-info-step {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: uppercase;

}

.step {
    color: var(--transparent-purple);
    font-size: var(--small-font-size);
    font-weight: var(--font-weight-thin);
    margin-bottom: 0.313rem;
}

.step-name {
    color: var(--white);
    font-weight: 700;
    letter-spacing: 0.125rem;
    vertical-align: baseline;
}


/** STEP 1: Personal Info Form Section */

.form-main-section {
    width: 70vw;
    height: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
}

/** General Styling for form section steps */

.personal-info-form, .select-plan-section, .add-ons-section, .summary-section, .thank-you-section {
    width: clamp(32rem, 80%, 90%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-header h2 {
    font-size: 2.25rem;
    color: var(--dark-blue);
    margin: 3rem 0 1rem;
}

.form-header p {
    font-size: var(--font-size);
    color: var(--dark-grey);
}

.form-body {
    margin-top: 4rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.label-and-error {
    display: flex;
    justify-content: space-between;
}

.label-and-error label {
    text-transform: capitalize;
    color: var(--dark-blue);
    font-size: var(--small-font-size);
    margin-bottom: 0.5rem;
}

.error-message {
    color: var(--bright-red);
    font-size: var(--small-font-size);
    font-weight: var(--font-weight-medium);
}

.name, .email, .phone-no {
    color: var(--dark-blue);
    font-family: inherit;
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--transparent-purple);
    outline: none;
    padding: 0 0.75rem;
    font-size: var(--font-size);
    transition: border-color 0.2s ease;
}


/** Input fields error state */
.name.error, .email.error, .phone-no.error {
    border-color: var(--bright-red);
}

.name:focus-visible, .email:focus-visible, .phone-no:focus-visible,
.name:focus, .email:focus, .phone-no:focus,
.name:hover, .email:hover, .phone-no:hover
{  /** Input fields focus state */
    cursor: pointer;
    border-color: var(--purple-medium);
    border-width: 0.0938rem;
}

.input-container input::placeholder {
    color: var(--dark-grey);
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
}


/** STEP 1: Submit Form Button  */

.submit-form {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}

.next-button {
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--dark-blue);
    color: var(--white);
    font-family: inherit;
    font-size: var(--font-size);
    cursor: pointer;
    align-self: flex-end;
}

.next-button:hover {
    background-color: var(--dark-blue-hover);
}

/** STEP 2: Select Plan Form Section */

.plan-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.plan-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30.6%;
    height: 13.75rem;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--transparent-purple);
    cursor: pointer;
    transition: border 0.4s ease-in;
}

.plan-card-image img {
    margin-bottom: 3rem;
}

.plan-card.active {
    background-color: var(--transparent-light-blue);
}

.plan-card:hover, .plan-card.active {
    cursor: pointer;
    border-color: var(--purple-medium);
    border-width: 0.0938rem;
}

.plan-card-header, .yearly-discount-duration {
    color: var(--dark-blue);
}

.plan-card-header {
    margin-bottom: 0.5rem;
}

.monthly-yearly-pricing {
    display: flex;
    align-items: center;
}

.price, .pricing-cycle {
    color: var(--dark-grey);
}

.yearly-discount-duration {
    font-size: var(--small-font-size);
    margin-top: 0.5rem;
}


/** Billing Section */

.billing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: var(--transparent-blue);
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    margin: 1rem auto;
}

.billing-option-container label {
    font-weight: var(--font-weight-medium);
    font-size: var(--small-font-size);
    color: var(--dark-grey);
    cursor: pointer;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.billing-option-container input[type="radio"] {
    display: none;
}

/** Active label color + weight */
.billing-option-container input[type="radio"]:checked + label {
    color: var(--dark-blue);
    font-weight: var(--font-weight-bold);
}

/** Toggle Switch Container */

.toggle-container {
    position: relative;
    width: 2.8125rem;
    height: 1.375rem;
    background: var(--dark-blue);
    border-radius: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.toggle-container label {
    display: none;
    position: relative;
    z-index: -6;
    font-size: 0;
}

.toggle-container input[type="range"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    appearance: none;
}

/** Toggle Thumb */

.toggle-thumb {
    position: absolute;
    top: 0.1875rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    background: var(--white);
    border-radius: 50%;
    transition: left 0.3s ease;
    pointer-events: none;
}

/** When yearly is selected, move thumb right */
.toggle-container.active .toggle-thumb {
    left: 1.5625rem;
}

/** Bounce animation on click/toggle */
.toggle-thumb.clicked {
    transform: scale(0.64);
    transition: all 0.4s ease;
}


/** STEP 2, 3 & 4: Next & Previous Buttons */

.submit-plan, .submit-add-ons, .submit-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.previous-button {
    height: 3rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--dark-grey);
    font-family: inherit;
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    align-self: flex-end;
}

.previous-button:hover {
    color: var(--dark-blue);
}


/** STEP 3: Add-ons Section */

.add-ons-container, .summary-card-container {
    margin-top: 3rem;
}

.addon-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--transparent-purple);
    cursor: pointer;
    transition: border-color 0.2s ease;
    margin-bottom: 1rem;
}

.addon-card:hover,
.addon-card:focus,
.addon-card:focus-visible,
.addon-card.active {
    outline: none;
    cursor: pointer;
    border: 1px solid var(--purple-medium);
}

.addon-card.active {
    background-color: var(--transparent-light-blue);
    border-width: 0.0938rem;
}

.addon-card-body {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/** Native/Default checkbox styling */
/*
.addon-card-body input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

.addon-card-body input[type="checkbox"]:checked {
    accent-color: var(--purple-medium);
}
*/

/** Custom checkbox styling */

/** Native Checkbox Input */
.addon-card-body input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute; /*? Position native checkbox on top the custom checkbox */
    opacity: 0;
    cursor: pointer;
}

/** Custom Checkbox */
.custom-checkbox {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--transparent-purple);
    border-radius: 0.3125rem;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in;
    flex-shrink: 0;
}

/** Trigger the custom checkbox when the native checkbox is checked */
.addon-card-body input[type="checkbox"]:checked + .custom-checkbox {
    background-color: var(--purple-medium);
    border-color: var(--purple-medium);
    background-image: url('images/icon-checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.75rem;
}

.addon-details {
    display: flex;
    flex-direction: column;
}

.addon-details label {
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
    color: var(--dark-blue);
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.addon-details p {
    font-size: var(--small-font-size);
    color: var(--dark-grey);
    cursor: pointer;
}

.addon-price, .addon-pricing-cycle {
    color: var(--purple-medium);
}


/** STEP 4: Summary Section */

.summary-card {
    background-color: var(--summary-bg);
    border-radius: 0.625rem;
    padding: 2rem 1.5rem;
}

.selected-plan-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.divider {
    width: 100%;
    border-bottom: 1px solid var(--transparent-purple);
    margin: 1rem 0 1.5rem;
}

.user-plan-selected {
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
    color: var(--dark-blue);
    margin-bottom: 0.25rem;
}

.change-plan-btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--dark-grey);
    text-decoration: 2px underline;
    font-family: inherit;
    font-size: var(--small-font-size);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.change-plan-btn:hover {
    color: var(--purple-medium);
}

.selected-plan-price {
    align-self: center;
}

.selected-plan-price span {
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    color: var(--dark-blue);
}

.selected-addon-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.selected-addon-and-price:last-child {
    margin-bottom: 0;
}

.selected-addon {
    font-size: var(--small-font-size);
    color: var(--dark-grey);
    text-transform: capitalize;
}

.selected-addon-price {
    font-size: var(--small-font-size);
    color: var(--dark-blue);
}

.total-cost-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 1.64rem;
}

.total-cost {
    font-size: var(--small-font-size);
    color: var(--dark-grey);
}

.total-cost-value {
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: var(--purple-medium);
}

.submit-summary > .next-button {
    background-color: var(--purple-medium);
}

.submit-summary > .next-button:hover {
    background-color: var(--purple-medium-hover);
}



/** STEP 5: Thank You Section */

.thank-you-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.thank-you-section img, .thank-you-section h2 {
    margin-bottom: 2rem;
}

.thank-you-text {
    font-size: 2.25rem;
    font-weight: var(--font-weight-bold);
    color: var(--dark-blue);
}

.thank-you-paragraph {
    font-size: var(--font-size);
    color: var(--dark-grey);
    line-height: 1.5rem;
}

.thank-you-paragraph a {
    color: var(--dark-grey);
    text-decoration: none;
}


/** Utilities */

.hidden {
    display: none;
    pointer-events: none;
}

.disabled-section {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed; 
}


/**  Error Displays & Animations */

.error-vibrate {
    animation: shake .12s 5;
}

@keyframes shake {
    0% { 
        transform: translateX(0);
    }
    40% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}


/** Confirmation Modal */

.confirmation-modal-container {
    height: 100%;
    width: 100%;
    background-color: var(--modal-container-color);
    justify-content: center;
    align-items: center;
    position: fixed;
}

.confirmation-modal {
    width: clamp(25rem, 50vw, 50rem);
    /* height: 30vh; */
    background-color: var(--transparent-light-blue);
    border: 1px solid #d6d9e6;
    box-shadow: 0 8px 32px var(--dark-blue-transparent);
    border-radius: 0.75rem;
    padding: 2rem 1.5rem;
    /* text-align: center; */
    position: relative;
}

.close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    background-color: var(--white);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 4;
    border: 2px solid var(--transparent-purple);
    box-shadow: 0 4px 12px var(--dark-blue-transparent-light);
    transition: all 0.2s ease;
    cursor: pointer;
}

.close-modal:hover {
    background-color: var(--transparent-light-blue);
    border-color: var(--light-blue);
    box-shadow: 0 6px 16px var(--dark-blue-transparent);
    transform: scale(1.05);
}

.close-modal-icon {
    width: 24px;
    height: 24px;
    fill: var(--dark-grey);
    transition: color 0.2s ease;
}

.close-modal-icon:hover {
    fill: var(--bright-red);
}

.confirmation-modal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: calc(100% - 2rem); */
    height: 100%;
}

.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-self: center;
    margin: 1.5rem auto;
    justify-items: center;
}

.modal-header h3 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: var(--dark-blue);
    text-transform: capitalize;
}

.modal-header h3 > span {
    color: var(--light-blue);
}

.modal-header p {
    font-size: var(--small-font-size);
    color: var(--dark-grey);
    line-height: 1.25rem;
}

.modal-body {
    background-color: var(--transparent-blue);
    height: 100%;
    width: 90%;
    margin: 0 auto 1.5rem;
    border-radius: 0.625rem;
    padding: 1.5rem;
}

.personal-info-inputs-header th:nth-child(1), 
.confirm-personal-info-email,
.confirm-plan-header th:nth-child(1), 
.confirm-add-ons-header th:nth-child(1) 
{
    text-align: start;
}

.personal-info-inputs-header th:nth-child(2),
.confirm-personal-info-phone,  
.confirm-plan-header th:nth-child(2),
.confirm-add-ons-header th:nth-child(2),  
td.confirm-plan-price, 
td.confirm-add-on-price 
{
    text-align: end;
}

.confirm-divider td hr {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    color: var(--transparent-purple);
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    width: 100%;
}

.confirm-button-container {
    width: 90%;
    display: flex;
    justify-content: end;
    margin: 1.5rem auto;
}

.confirm-button {
    align-self: end;
    border: none;
    outline: none;
    background-color: var(--bright-red);
    color: var(--white);
    font-family: inherit;
    font-size: var(--font-size);
    padding: 0.75rem 1.5rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}


/** Spinner Loading Animation */

.spinner-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: var(--spinner-container-color);
}

.spinner {
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 auto;
    border: 6px solid;
    border-radius: 50%;
    border-color: var(--purple-medium) transparent var(--white) transparent;
    animation: spin 1.2s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}


/** Media Queries */

/** Tablet to Desktop */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: clamp(45rem, 96vw, 64rem);
    }
    .progress-section {
        padding-inline-start: 1rem;
    }
    .form-main-section {
        padding-inline: clamp(1rem, 1.5rem, 2rem);
    }
    .confirmation-modal {
        width: clamp(25rem, 64vw, 50rem)
    }
}


/** Mobile to Tablet */

@media screen and (min-width: 320px) and (max-width: 767.9px) {
    body {
        justify-content: flex-start;
    }
    .container {
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        min-height: 100dvh;
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        margin: 0;
        max-width: unset;
        box-shadow: unset;
        flex-grow: 1;
    }
    .progress-section {
        background: url('images/bg-sidebar-mobile.svg') no-repeat center center / cover;
        height: 12rem;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding-inline-start: 0;
        border-radius: 0;
    }
    .progress-section-mobile {
        width: clamp(14rem, 64vw, 24rem);
        display: flex;
        justify-content: space-between;
    }
    .progress-circle {
        width: 2.5rem;
    }
    .user-info-step {
        display: none;
    }
    .step-number {
        margin-inline-end: 0;
    }
    .form-main-section {
        background-color: var(--transparent-blue);
        flex-direction: column;
        width: 100vw;
        height: 50rem;
        min-height: 100%;
        padding-inline: 0;
    }
    .personal-info-form, .select-plan-section, .add-ons-section, .summary-section, .thank-you-section {
        width: unset;
        align-items: center;
    }
    .personal-info-form-mobile, .select-plan-section-mobile, .add-ons-section-mobile, .summary-section-mobile, .thank-you-section {
        width: clamp(18rem, 90vw, 36rem);
        border-radius: 0.5rem;
        background-color: var(--white);
        margin-top: -4.8rem;
        padding: 1.25rem;
        box-shadow: 0rem 0.5rem 0.5rem 0rem var(--transparent-purple);
    }
    .submit-form, .submit-plan, .submit-add-ons, .submit-summary {
        width: 100vw;
        background-color: var(--white);
        padding: 1rem;
        position: fixed;
        bottom: 0;
    }
    .error-message {
        font-size: .75rem;
        font-weight: var(--font-weight-regular);
        text-align: end;
    }
    .confirmation-modal {
        width: clamp(24rem, 96vw, 32rem);
        /* height: clamp(20rem, 40vh, 30rem); */
    }
}


/** Mobile Only */

@media screen and (min-width: 320px) and (max-width: 480px) {
    .plan-container {
        flex-direction: column;
        row-gap: 1rem;
    }
    .plan-card {
        flex-direction: row;
        width: 100%;
        height: 6rem;
        justify-content: flex-start;
        column-gap: 1.5rem;
        transition: border 0.4s ease-in, height 0.4s ease-in;
    }
    .plan-card:has(.yearly-discount-duration:not(.hidden)) {
        height: 8rem;
        transition: border 0.4s ease-in-out, height 0.8s ease-out;
    }
}
